Repository purpletechceo/purpletech-soen341projectF2023, pull requests merged in 2023-11, with the labels that each got.

#74 List of Brokers
  Sprint 3/brokers_display.py
Labels: Implementation

#75 Update brokers_display.py with select broker from filtered list
  Sprint 3/brokers_display.py
Labels: Implementation

#69 Promise to Purchase Implementation
  Sprint 3/PurchasePromisePatched.py
  Sprint 3/data.csv
  Sprint 3/purchaseinfomain.csv
  Sprint 3/userdata.csv
  Sprint 3/visits.csv
Labels: sprint-3, Implementation

#76 Updated display features.
  Sprint 3/brokers_display.py
Labels: enhancement, sprint-3

#80 Added the request broker information form
  Sprint 3/Sprint3_Demo/main.py
Labels: sprint-3, Implementation

#94 Sprint 4 Core Feature: Mortgage Calculator
  Sprint 2/Implemented Features/Backend/__pycache__/houseFilteringDemo.cpython-311.pyc
  Sprint 2/Implemented Features/Backend/__pycache__/test_house_filtering.cpython-311.pyc
  Sprint 2/Implemented Features/Backend/userdata.csv
  Sprint 2/Implemented Features/Backend/visits.csv
  Sprint 2/Implemented Features/Frontend/login.css
  Sprint 2/Implemented Features/Frontend/login.html
  Sprint 2/Implemented Features/Frontend/mainpage1.css
  Sprint 3/Backend/Additional Features/PurchasePromisePatched.py
  Sprint 3/Backend/Additional Features/additionalFeatures.py
  Sprint 3/Backend/Additional Features/data.csv
  Sprint 3/Backend/Additional Features/info.csv
  Sprint 3/Backend/Additional Features/purchaseinfomain.csv
  Sprint 3/Backend/Additional Features/userdata.csv
  Sprint 3/Backend/Additional Features/visits.csv
  Sprint 3/Backend/Sprint3_Demo/brokerInfo.csv
  Sprint 3/Backend/Sprint3_Demo/broker_requests.csv
  Sprint 3/Backend/Sprint3_Demo/data.csv
  Sprint 3/Backend/Sprint3_Demo/info.csv
  Sprint 3/Backend/Sprint3_Demo/purchaseinfomain.csv
  Sprint 3/Backend/Sprint3_Demo/userdata.csv
  Sprint 3/Backend/Sprint3_Demo/visits.csv
  Sprint 3/Frontend/Web(prototype)
  Sprint 3/__pycache__/PurchasePromisePatched.cpython-311.pyc
  Sprint 3/__pycache__/more_Testing.cpython-311.pyc
  Sprint 3/more_Testing.py
  Sprint 3/moretests.py
  Sprint 4/mortgageCalculator.py
  requirements.txt
Labels: sprint-4, Implementation

#95 Added new test file: test_mortgageCalculator.py
  Sprint 4/__pycache__/mortgageCalculator.cpython-311.pyc
  Sprint 4/__pycache__/test_mortgageCalculator.cpython-311-pytest-7.4.2.pyc
  Sprint 4/mortgageCalculator.py
  Sprint 4/test_mortgageCalculator.py
Labels: sprint-4, Implementation, testing

#113 Sadeeshadman Offer Management Finalized
  sprint-4/Backend/data.csv
  sprint-4/Backend/main.py
  sprint-4/Backend/purchaseinfomain.csv
Labels: sprint-4, Implementation
