Repository purpletechceo/purpletech-soen341projectF2023, pull requests merged in 2023-10, with the labels that each got.

#19 Update googleLogin.py
  Sprint 2/prototype/backend/googleLogin.py
Labels: sprint-2, Organization

#27 Rename PropertyVisitRequest.py to BrokerVisitsNotification.py
  Sprint 2/prototype/backend/BrokerVisitsNotification.py
Labels: sprint-2, Organization

#25 Update houseFilteringDemo.py
  Sprint 2/prototype/backend/houseFilteringDemo.py
Labels: sprint-2, Implementation

#37 AdminOps
  Sprint 2/Implemented Features/Backend/Final.py
Labels: sprint-2, Implementation

#52 Create SendConfirmationEmail.py
  Sprint 2/Implemented Features/Backend/SendConfirmationEmail.py
Labels: sprint-2, Implementation

#53 Allaye peerreview
  Sprint 2/Peer Reviews/Allaye's Peer Reviews/Grecia O'Brien.md
  Sprint 2/Peer Reviews/Allaye's Peer Reviews/Huy Minh Le.md
  Sprint 2/Peer Reviews/Allaye's Peer Reviews/Oyeyimika Adeoye.md
  Sprint 2/Peer Reviews/Allaye's Peer Reviews/Sadee Shadman.md
Labels: documentation, sprint-2
